CREATE TABLE IF NOT EXISTS transactions (id UUID PRIMARY KEY DEFAULT uuid_generate_v4(), amount DECIMAL(10, 2) NOT NULL, type VARCHAR(20) NOT NULL CHECK (type IN ('income', 'expense')), category VARCHAR(50), description TEXT, reference_id UUID, reference_type VARCHAR(50), payment_method VARCHAR(50), transaction_date TIMESTAMP WITH TIME ZONE DEFAULT NOW(), created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(), updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW());
