CREATE TABLE events (id UUID PRIMARY KEY DEFAULT uuid_generate_v4(), title VARCHAR(255) NOT NULL, date DATE NOT NULL, time TIME, venue VARCHAR(255), address TEXT, customer_id UUID REFERENCES customers(id), notes TEXT, status VARCHAR(50) DEFAULT 'Upcoming', created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(), updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()); CREATE TABLE event_staff (id UUID PRIMARY KEY DEFAULT uuid_generate_v4(), event_id UUID REFERENCES events(id) ON DELETE CASCADE, employee_id UUID REFERENCES employees(id), created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(), UNIQUE(event_id, employee_id));
